[Unit]
Description=Altimeter
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /share/balloon/services/Altimeter.py
Restart=on-abort

[Install]
WantedBy=multi-user.target