[Unit]
Description=Fona
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /share/balloon/services/Fona.py
Restart=on-abort

[Install]
WantedBy=multi-user.target