[Unit]
Description=Sender
After=multi-user.target

[Service]
WorkingDirectory=/share/balloon/services/node
Type=simple
ExecStart=/usr/bin/npm run sender
Restart=on-abort

[Install]
WantedBy=multi-user.target